{% extends 'navigation3.html' %}
{% block body1 %}
{% load static %}
<style>
.row{
text-align:left;
}</style>
<div class="container" style="padding:1%;background-color:White;border-radius:10px;width:90%;margin-top:4%;">
<h3 style="font-weight:bold;margin-top:2%;margin-bottom:3%;color:grey">Add New Tips</h3>
    <form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row" style="margin-bottom:2%">
    <div class="col-md-4">
        <span style="font-type:bold">Enter Tips Title<span style="color:red">*</span></span>
    </div>
    <div class="col-md-8">
        <input type="text" placeholder="Enter Tips Title" style="width:100%;padding:5px" name="title">
    </div>
    </div>

    <div class="row" style="margin-bottom:2%">
    <div class="col-md-4">
        <span style="font-type:bold">Tips Description<span style="color:red">*</span></span>
    </div>
    <div class="col-md-8">
        <textarea  style="width:100%;" name="desc"></textarea>
    </div>
    </div>
        <div align="center">
        <button type="submit" class="btn btn-dark" style="height:45px;margin-top:2%;width:25%;float:center">
            Submit</button>
</div>
    </form>

    </div>
{% if error %}
<script>
    alert('Added New Tips Successfully');
    window.location = "{% url 'view_tips' %}";
</script>
{% endif %}

  {% endblock %}