<!DOCTYPE html>
<html>
{% load static %}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body style="background-color:DarkSlategrey">
{% ifequal error "pat" %}
<script>
    alert('logged in successfully');
    window.location=('{% url 'user_home' %}');
</script>
{% endifequal %}
{% ifequal error "notmember" %}
<script>
    alert('Your information is pending..plz logged in after sometimes.');
</script>
{% endifequal %}
{% ifequal error "pat1" %}
<script>
    alert('logged in successfully');
    window.location=('{% url 'trainer_home' %}');
</script>
{% endifequal %}
{% ifequal error "not" %}
<script>
    alert('Username & Password are not Matching');
</script>
{% endifequal %}

<div class="container">
<div class="container-fluid" style="background-color:green;border-radius:10px;width:60%;margin-top:10%;">

  <div class="row" style="height:500px;">
    <div class="col-md-5" align="center" style="color:white;margin-top:5%">
        <h3>GMS</h3>
        <p>Welcome to User Signin.</p>
        <img src="{% static 'images/gym2.jpg' %}" style="width:100%">
        <div class="row">
            <div class="col-md-6">
                <a href="{% url 'signup' %}"><button class="btn btn-warning" style="height:45px;margin-top:5%;width:100%;font-size:12px">MEMBER ACCOUNT</button></a>
            </div>
            <div class="col-md-6">
                <a href="{% url 'signup_trainer' %}"><button class="btn btn-warning" style="height:45px;margin-top:5%;width:100%;font-size:12px">TRAINER ACCOUNT</button></a>
            </div>
        </div>

      <a href="{% url 'home' %}">>> Back/home</button></a>
    </div>
    <div class="col-md-7" style="background-color:white;padding:40px">
<h3 style="margin-top:5%;margin-bottom:6%">Signin to Your Account</h3>
      <form method="post" action="">
    {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1" style="margin-bottom:5%;font-type:bold">Username</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="uname" placeholder="Enter Username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1" style="margin-bottom:5%">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="pwd">
  </div>
       <button type="submit" class="btn btn-danger" style="margin-top:5%;width:100%">Submit</button>
      </form></div></div></div></div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 </body>
</html>