<!DOCTYPE html>
<html>
{% load static %}
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body style="background-color:DarkSlategrey">
{% if error %}
<script>
    alert('Registration in successful');
    window.location='{% url 'login_user' %}';
</script>
{% endif %}
{% ifequal error "not" %}
<script>
    alert('Username & Password are not Matching');
</script>
{% endifequal %}

<div class="container">
<div class="container-fluid" style="background-color:green;border-radius:10px;width:60%;margin-top:10%;">

  <div class="row" style="height:100%;margin-bottom:5%">
    <div class="col-md-5" align="center" style="color:white;margin-top:25%">
        <h3>GMS</h3>
        <p>Welcome to Signup Form.</p>
        <img src="{% static 'images/gym8.jpg' %}" style="width:100%;height:510px">
        <a href="{% url 'login_user' %}"><button class="btn btn-warning" style="height:45px;margin-top:5%;width:100%">Login</button></a>


      <a href="{% url 'home' %}">>> Back/home</button></a>
    </div>
    <div class="col-md-7" style="background-color:white;padding:40px">
<h3 style="margin-top:5%;margin-bottom:6%">Signup to User Account</h3>
      <form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1" style="font-type:bold">Username</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="uname" placeholder="Enter Username">
  </div>
          <div class="form-group">
    <label for="exampleInputEmail1" style="font-type:bold">First Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="fname" placeholder="Enter Username">
  </div>

          <div class="form-group">
    <label for="exampleInputEmail1" style="font-type:bold">Last Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="lname" placeholder="Enter Username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="pwd">
  </div>
          <div class="form-group">
    <label for="exampleInputPassword1">Email</label>
    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Enter Your Email" name="email">
  </div>
          <div class="form-group">
    <label for="exampleInputPassword1">Height</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="enter your height(in feet)" name="height">
  </div>
          <div class="form-group">
    <label for="exampleInputPassword1">Weight</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="enter your weight(in Kg)" name="weight">
  </div>
          <div class="form-group">
    <label for="exampleInputPassword1">Date of Join</label>
    <input type="date" class="form-control" id="exampleInputPassword1" name="doj">
  </div>

 <div class="form-group">
    <label for="exampleInputPassword1">Date of Birth</label>
    <input type="date" class="form-control" id="exampleInputPassword1"  name="dob">
  </div>

          <div class="form-group">
    <label for="exampleInputPassword1">Mobile</label>
    <input type="number" class="form-control" id="exampleInputPassword1" placeholder="contact" name="contact">
  </div>
          <div class="form-group">
    <label for="exampleInputPassword1">Address</label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Full Address" name="address">
  </div>
          <div class="form-group">
    <label for="exampleInputPassword1">Image of Member</label>
    <input type="file" class="form-control" id="exampleInputPassword1" name="image">
  </div>
  <button type="submit" class="btn btn-danger" style="height:45px;margin-top:5%;width:100%">SUBMIT</button>
</form>
    </div>
  </div>

</div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 </body>
</html>